*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'New Era Casual';
}

html,body{
    height: 100%;
    width: 100%;
    
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    align-items: center;
    padding: 0 4vw;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 4vw;

}

.nav h2{
    font-size: 2vw;
    font-weight: bold;
}

.nav h4 {
    font-size: 1vw;
}
.ri-menu-line{
    display: none;
    font-size: 1vw;
    /* font-weight: 800px; */
}

.content{

    height: calc(100% - 100px);
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
   
    padding: 5vw 4vw;
}
.right{
    height: 100%;
    width: 50%;
    
}
.left h3{
    font-size: 4vw;
}
.left h3 span{
    color:#FF735C;
}
.left p {
    font-size: 1.2vw;
    width: 80%;
    font-weight: bold;
    color: #666;
    margin-top: 3vw;
    margin-bottom: 4vw;

}

button{
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border-radius: 5px;
    background:#FF735C;
    color: white;
    border: none;
}
.right img {
    width: 100%;
    height: 100%;
   
}
@media (max-width:600px){
    .nav{
  

       height: 60px;
    }
    .nav h2{
        font-size: 3vmax;
    }
    .nav h4{
        display: none;
    }
    .ri-menu-line{
        display: block;
        font-size: 3vmax;
        font-weight: bold;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;

    }
    .left{
        width: 100%;
        height: 50%;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .left h3{
        font-size: 5vmax;
    }
    .left p {
        font-size: 2vmax;
    }
    button{
        font-size: 2vh;
    }
}